<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NODEJS BASIC</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="/upload-file">Upload Files</a>
    </div>

    <div style="padding-left:16px">
        <h2>TABLE USER</h2>
    </div>

    <table id="customers">
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
            <th>Action</th>
        </tr>
        <% for(var i=0; i < dataUser.length; i++) {%>
            <tr>
                <td>
                    <%= dataUser[i].idUser %>
                </td>
                <td>
                    <%= dataUser[i].firstName + " " + dataUser[i].lastName%>
                </td>
                <td>
                    <%= dataUser[i].email %>
                </td>
                <td>
                    <%= dataUser[i].address %>
                </td>
                <td class="action-col">
                    <form action="/detail/user/<%= dataUser[i].idUser %>" method="get">
                        <button class="button">Detail</button>
                    </form>
                    <form action="/update/user/<%= dataUser[i].idUser %>" method="get">
                        <button class="button">Update</button>
                    </form>
                    <form action="/delete/user/<%= dataUser[i].idUser %>" method="post">
                        <button class="button">Delete</button>
                    </form>
                </td>
            </tr>
            <% } %>

    </table>

    <div class="create-user-container">
        <form action="/create-user" method="post">

            <label for="fname">First Name</label>
            <input type="text" id="fname" name="firstname" placeholder="Your name..">

            <label for="lname">Last Name</label>
            <input type="text" id="lname" name="lastname" placeholder="Your last name..">

            <label for="email">Email</label>
            <input type="text" id="email" name="email" placeholder="Your email..">

            <label for="address">Address</label>
            <input type="text" id="address" name="address" placeholder="Your address..">

            <input type="submit" value="Submit">
        </form>
    </div>

    <!-- <%= JSON.stringify(dataUser)%> -->
</body>

</html>